---
layout: default
---

<div class="store-content">

  <h2 id="checkout-status">Please wait...</h2>

  <div id="receipt">

    <table id="receipt-table"></table>

    <div id="receipt-notes">
      <ul>
        <li id="order-id"></li>
        <li>The payment has only been authorized.</li>
        <li>You will be charged when your order is ready to ship.</li>
        <li>You should receive a receipt via email from <b>PAYPAL.COM</b> soon.</li>
      </ul>
      <div id="domestic-shipping-faq" style="visibility:hidden;">
        {% include domestic-shipping-faq.html %}
      </div>
      <div id="international-shipping-faq" style="visibility:hidden;">
        {% include international-shipping-faq.html %}
      </div>
    </div>

  </div>

</div>

<script type="module" src="checkout-done.mjs"></script>