---
layout: default
---

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="cart-tab">
  <a href="cart.html">
    <i class="fa" style="font-size:36px;user-select:none;">&#xf07a;</i>
    <span class='cart-count'>0</span>
  </a>
</div>

<div class="store-content">
  <div id="store-news">
    Sold out for June. Another small batch of ER-101 and ER-301 coming in July.
  </div>
  <hr>

  <div class="product-group">
    {% include product.html product="er-101-n" %}
    {% include product.html product="er-101-of" %}
    {% include product.html product="er-101-pc" %}
  </div>

  <div class="product-group">
    {% include product.html product="er-102-n" %}
    {% include product.html product="er-102-of" %}
    {% include product.html product="er-102-pc" %}
  </div>

  <div class="product-group">
    {% include product.html product="er-301-n" %}
    {% include product.html product="er-301-of" %}
    {% include product.html product="er-301-pc" %}
  </div>

  <hr>
  <h2>Store FAQ</h2>
  <div id="store-faq">
  {% include restock-faq.html %}
  {% include checkout-faq.html %}
  {% include domestic-shipping-faq.html %}
  {% include international-shipping-faq.html %}
  </div>

</div>

<div class="action-tab">
  <button id="clear" type="submit">Clear Cart</button><br>
  <button id="next" type="submit">Next</button>
</div>

<script type="module" src="store.mjs"></script>