Shipping outside Japan:<br>
<ul>
  <li>Orders ship within 2 weeks.</li>
  <li>Shipping takes about 3-5 days to most countries, but it will depend a lot on how long it takes the package to pass
    through customs.</li>
  <li>When your order ships, you will be notified via email. This email will include your tracking information.</li>
  <li>Signature will be required for delivery.</li>
  <li>Shipments are fulfilled by <a href="https://www.post.japanpost.jp/int/information/overview_en.html">EMS</a> and
    fully insured.</li>
  <li>You must pay duty and import tax when the package is delivered.</li>
</ul>